:root {
	--Soft-blue: hsl(215, 51%, 70%);
	--Cyan: hsl(178, 100%, 50%);
	--Very-dark-blue: hsl(217, 54%, 11%);
	--Very-dark-blue2: hsl(216, 50%, 16%);
	--Very-dark-blue3: hsl(215, 32%, 27%);
	--White: hsl(0, 0%, 100%);
}

@font-face {
	font-family: regular;
	src: url(../../assets/fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
	font-family: bold;
	src: url(../../assets/fonts/Outfit/static/Outfit-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/fonts/Outfit/static/Outfit-Light.ttf);
}

body {
	background-color: var(--Very-dark-blue);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.main-box {
	width: 300px;
	height: fit-content;
	background-color: var(--Very-dark-blue2);
	box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
}

.img-container {
	display: grid;
	padding: 20px;
	align-items: center;
	text-align: center;
	height: 260px;
}

.main-image,
.main-image-hover-container {
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
}

.main-image {
	background: url(../images/image-equilibrium.jpg) no-repeat;
	background-size: contain;
}

.main-image-hover-container {
	position: relative;
	opacity: 0;
}

.main-image-hover-container>div {
	width: 100%;
	height: 100%;
}

.main-image-hover-container .div-hover {
	background-color: var(--Cyan);
	opacity: 0.4;
}

.main-image-hover-container .div-eye {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
}

.main-image-hover-container:hover {
	opacity: 1;
}



.content {
	padding-left: 20px;
}

.content-title {
	font-family: bold;
	color: white;
	font-size: 16px;
}

.content-title:hover {
	color: var(--Cyan);
}

.content-text {
	color: var(--Soft-blue);
	font-family: light;
	font-size: 15px;
	margin-top: 15px;
}

.ETH {
	margin-top: 20px;
	padding-left: 20px;
	color: var(--Cyan);
	font-family: regular;
}

.time-left {
	color: var(--Soft-blue);
	display: flex;
	justify-content: end;
	position: relative;
	bottom: 17px;
	margin-right: 20px;
}

hr {
	width: 250px;
	color: white;
	height: 1px;
	border-width: 0px 0px 0.3px 0px;
	position: relative;
	bottom: 10px;
}

footer {
	padding-bottom: 10px;
}

.creator-img {
	width: 30px;
	border: 1px solid white;
	border-radius: 50%;
	margin-left: 20px;
}

.creator-info {
	position: relative;
	left: 55px;
	bottom: 27px;
}

.creator {
	color: var(--Soft-blue);
	margin-left: 10px;
	font-family: light;
	font-size: 14px;

}

.creator-name {
	color: white;
	font-family: regular;
	font-size: 14px;
	position: relative;
	bottom: 20px;
	left: 32px;
}

.creator-name:hover {
	color: var(--Cyan);
}

a {
	text-decoration: none;
	color: white;
	position: relative;
	top: 20px;
	left: -30px;
}

a:hover {
	color: var(--Cyan);
}